<html>
  <head>
    <title>Sample React App</title>
    <script type="text/javascript">
        window.initialState = <%- JSON.stringify(initialState) -%>
    </script>
  </head>
  <body>
    <div id="root"><%- initialContent -%></div>
    <script src="/main.js"></script>
  </body>
</html>
